*{
    margin: 0;
    padding: 0;
}
body{
    height:100%;
    max-width: 100%;
    background-color: aliceblue;
}
header{
    background-color: #2B2D42;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-between;
}
h1{
    color: #2B2D42;
    padding: 1%;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 32pt;
    text-decoration:underline ;
    display: flex;
    justify-content: center;
    text-align: center;
}
ul{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3%;
}
li{
    display: flex;
    justify-content: flex-end;
    padding: 1%;
    font-family: "Merriweather", serif;
}
.navbar{
    padding:1%;
    width: fit-content;
    color: white;
    display: flex;
    justify-content: flex-end;
}
.index1{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
a{
    text-decoration: none;
    display: flex;
    color: white;
    justify-content: flex-end;
}
a:hover{
    text-decoration: underline;
}
.about-text{
    display: flex;
    justify-content: center;
    text-align: center;
}
main{
    background-color: aliceblue;
}
.topsection{
    display: flex;
flex-direction: column;
justify-content: center;
    max-width: 100%;
    padding-top: 5%;
    padding-bottom:5%;
}
h2{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 5%;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    font-size: 24pt;
    text-align: center;
    }
#logo{
    max-height: 150px;
}
.main-text{
        display: flex;
        justify-content: center;
        padding-top: 1%;
        text-align: center;
        padding-bottom: 5%;
}
.scheduling-text{
    display: flex;
    justify-content: center;
    padding-left: 2%;
    text-align: center;
    padding-bottom: 5%;
}
.ehapimage{
    max-width: 75%;
    height: 250px;
}

.serviceimages{
display: flex;
width: 50%;
height: 10%;
}

.serviceimages:hover{
    animation: grow-animation 2.5s;
}

@keyframes grow-animation{
    0% {transform: scale(1);}
    100%{transform: scale(1.1)}
}

.segue{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}
.main-button{
    display: flex;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 5%;
    color: white;
    justify-content: center;
}
#indextop{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topbutton{
    background-color: #ef233c;
    color: black;
    padding: 2%;
    width: 85px;
    transition: 150ms;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
.topbutton:hover{
    background-color: #8d99ae;
    color: white;
    text-decoration: none;
}
.requestform{
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
}
.servicepositioning{
    display: flex;
    flex-direction: row;
}
.servicedescription{
    padding-top: 4%;
    padding-bottom:4%;
}
.servicebuttondirection{
    padding-top: 4%;
    padding-bottom:4%;
}
.sptext{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 50%;
}
label{
    display: flex;
    flex-direction: column;
    padding: 4%;
}
input{
    padding: 3%;
    padding-top: 5%;

}
.submitbutton{
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to right, #ef233c 0%, #D90429 50%, #2B2D42 100%);
    background-size: 200% auto;
    border-radius: 25px;
    padding:1.5%;
    color: white;
    transition: all .5s;
}
.submitbutton:hover{
    background-position: right center;
}
.submitposition{
padding: 2% 2% 5% 2%;
}
input:hover{
    border-color:#ef233c
}
.jmpictures{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    align-items: center;
    max-width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.vertimages{
    max-width: 40%;
    border: 2px solid black;
}
.mappic{
    max-width: 80%;
    border: 2px solid black;
}
.mappositioning{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
footer{
    background-color: #2B2D42;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12pt;
}
.footertext{
    padding-left: 1%;
}

p{
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
}

   @media screen and (min-width: 769px){

    .mappic{
        max-height: 400px;
    }
    .index1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    }
#aboutgrouping{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    gap: 5%;
}
    .index2{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 5%;
max-width: 40%;
height: 100%;
    }
    .index3{
        display: flex;
        justify-content: flex-end;
        flex-direction: column-reverse;
max-width: 40%;
    }
    .topsection{
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .main-text{
        padding-bottom: 1%;
    }
    .ehapimage{
        width: 45%;
        height:20%;
        padding-bottom: 1%;
    }
    h1{
        padding: 0%;
    }
    #padtext{
        padding-top:1%;
    }
    .boxdiv{
        border: 2px solid black;
        padding-left: 1%;
        padding-right: 1%;
    }
    h2{
        padding-bottom: 1%;
        text-decoration: underline;
    }
}